*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

main {
  padding: 56px 96px;
}

h1 {
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 12px;
}

.version {
  font-family: 'SF Mono', monospace;
  font-size: 14px;
  color: #a1a1a1;
  font-weight: 200;
}

.intro {
  max-width: 30em;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 56px;
}

.inputContainer {
  display: grid;
  grid-template-columns: 90% 1fr;
  height: 56px;
  width: 343px;
  font-size: 16px;
  padding: 0 12px;
  margin-bottom: 56px;
  border: unset;
  border: 1px solid #d0d0d0;
  justify-content: baseline;
  border-radius: 4px;
}

input {
  height: 100%;
  all: unset;
  text-align: left;
}

.inputContainer__clear {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: baseline;
  font-size: 24px;
  padding: 12px;
}

.inputContainer__clear span {
  margin-top: -2px;
}

.result {
  width: 343px;
  height: 60px;
  margin-bottom: 56px;
  display: flex;
  background: whitesmoke;
  border-radius: 8px;
}

.result__text {
  text-align: left;
  width: calc(100% - 72px);
  height: 100%;
  overflow: hidden;
  line-height: 60px;
  padding-left: 24px;
}

.result__button {
  display: flex;
  padding: 12px;
  width: 72px;
  background: dodgerblue;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: copy;
  border-radius: 0 8px 8px 0;
  transition: all 250ms;
}

.result__button:hover {
  background: #1b81e5;
}

.result__button span {
  font-weight: 500;
  color: inherit;
}

.creds a {
  color: #a1a1a1;
}
